<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Headliner: <%= @page_title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :all %>
</head>
<body>
  <div id="container">
    <div id="banner">
      <h2>Headliner</h2>
      <div id="score">Score
        <span id="scoreValue"><%= "#{@score}/#{@total}" %></span>
      </div>
    </div>
    <%= yield %>
    <div id="footer">Just for fun. Created by Julian Burgess 2009. <a href="http://github.com/aubergene/Headliner/tree/master">Licensed under AGPL</a>. Icons by <a href="http://mouserunner.com">MouseRunner.com</a>.</div>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9352106-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
